<h1>Tweets#edit</h1>
<p>Find me in app/views/tweets/edit.html.erb</p>

		<%= form_for(@tweet) do |f| %>
		
			<%= f.label :name %>
			<%= f.text_field :name %>
			
			<%= f.label :message %>
			<%= f.text_area :message %>
			
			<%= f.submit %>
				
<% end %>